 /* Chart slider styles */
 .range-slider{
    width: 100%;
    margin: 0 auto;
    position: relative;
    margin-top: 2.5rem;
    margin-bottom: 2rem;
}

#range { -webkit-appearance: none; width: 100%; }
#range:focus { outline: none; }

#range::before, #range::after {
    position: absolute;
    top: 2rem;
    color: #333;
    font-size: 14px;
    line-height: 1;
    padding: 3px 5px;
    background-color: rgba(0, 0, 0, 0);
    border-radius: 4px;
}
#range::before { left: 0; content: attr(data-min); }
#range::after { right: 0; content: attr(data-max); }

#range::-webkit-slider-runnable-track {
    width: 100%;
    height: 0.5rem;
    cursor: pointer;
    animate: 0.2s;
    background: linear-gradient(90deg, #368727 var(--range-progress), #dee4ec var(--range-progress));
    border-radius: 1rem;
}
#range::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: 0.25rem solid #368727;
    box-shadow: 0 1px 3px rgba(0,0,255,.3);
    border-radius: 50%;
    background: #368727;
    cursor: pointer;
    height: 32px; width: 32px;
    transform: translateY(calc(-50% + 4px));
}

#tooltip {
    position: absolute;
    top: -2.25rem;
}
#tooltip span {
    position: absolute;
    text-align: center;
    display: block;
    line-height: 1;
    padding: 0.125rem 0.25rem;
    color: #fff;
    border-radius: 0.125rem;
    background: #368727;
    font-size: 1.25rem;
    left: 50%;
    transform: translate(-50%, 0);
}
#tooltip span:before {
    position: absolute;
    content: "";
    left: 50%; bottom: -8px;
    transform: translateX(-50%);
    width: 0; height: 0;
    border: 4px solid transparent;
    border-top-color: #6BA132;
}

 /* Chart styling */
 #chartDiv {
    max-width: 700px;
 }